.RasistrationWrapper
  %header.SignupHeader
    .SignupHeader__Logo
      = link_to "#",class: "SignupHeader__Icon" do
        = image_tag 'logo/logo.png',size: '185x49',alt: 'ロゴです'
  
  %main.Contents
    %section.Contents__Wrapper        
      %h2.Contents__Title
        お届け先住所
      = form_for @destination do |f|
        -# = render "devise/shared/error_messages", resource: @destination
        .Contents__Resistration
          .Contents__Form-Group
            %div
              = f.label :name, class:'Contents__Form-Label' do
                お名前(全角)
              %span.Contents__Form-Require
                必須
            = f.text_field :destination_family_name, placeholder: '例）山田',class: 'Contents__Form-Text--Min'
            = f.text_field :destination_first_name, placeholder: '例）次郎',class: 'Contents__Form-Text--Min'
          .Contents__Form-Group
            %div
              = f.label :name, class:'Contents__Form-Label' do
                お名前カナ(全角)
              %span.Contents__Form-Require
                必須
            = f.text_field :destination_family_name_kana, placeholder: '例）ヤマダ',class: 'Contents__Form-Text--Min'
            = f.text_field :destination_first_name_kana, placeholder: '例）ジロウ',class: 'Contents__Form-Text--Min'
          .Contents__Form-Group
            = f.label :post_code, class:'Contents__Form-Label' do
              〒郵便番号
            %span.Contents__Form-Require
              必須
            = f.text_field :post_code, placeholder: 'ハイフンなしで入力してください',class: 'Contents__Form-Text' 
          .Contents__Form-Group
            = f.label :pref, class:'Contents__Form-Label' do
              都道府県
            %span.Contents__Form-Require
              必須
            = f.collection_select :pref_id, Pref.all, :id, :name
            -# = f.collection_select(:pref, Pref.all, :id, :name, {include_blank: '---'}, {class: 'Contents__Form-Text'} )
          .Contents__Form-Group
            = f.label :city, class:'Contents__Form-Label' do
              市区町村
            %span.Contents__Form-Require
              必須
            = f.text_field :city, placeholder: '例）渋谷区',class: 'Contents__Form-Text' 
          .Contents__Form-Group
            = f.label :nickname, class:'Contents__Form-Label' do
              番地
            %span.Contents__Form-Require
              必須
            = f.text_field :house_number, placeholder: '例）道玄坂番地',class: 'Contents__Form-Text' 
          .Contents__Form-Group
            = f.label :nickname, class:'Contents__Form-Label' do
              マンション名、ビル名、部屋番号
            %span.Contents__Form-Require--Non
              任意
            = f.text_field :building_name, placeholder: '例）１−１アサヒビル３F ２０３',class: 'Contents__Form-Text' 
          .Contents__Form-Group
            = f.label :nickname, class:'Contents__Form-Label' do
              お届け先の電話番号
            %span.Contents__Form-Require--Non
              任意
            = f.text_field :phone_number, placeholder: 'ハイフンなしで入力してください',class: 'Contents__Form-Text' 

        .Contents__Bottom
          = f.submit '登録', class: 'Contents__SubmitBtn'     
      -#   = form_with url: '#', html:{class: 'Contents__Form'}, local: true do |f|
      -#     = f.submit '完了', class: 'Contents__SubmitBtn' 

  %footer.Footer 
    = link_to root_path, class: "Footer__Logo" do
      = image_tag 'logo/logo-white.png',size: '185x49',alt: 'ロゴです'
    %p.Footer__Bottom
      © FURIMA, Inc. 