= render 'layouts/header'

.Main-screen
  .Main-screen__profile
    .Main-screen__profile__icon
      = icon('far', 'user-circle')
      .Main-screen__profile__icon__user-name
        = link_to "#", class:"User-nickname" do
          = @user.nickname
  .Main-screen__contents 
    .Main-screen__contents__media
      = link_to "https://www.facebook.com/", class: "Facebook-btn" do
        = icon('fab', 'facebook-square')
      = link_to "https://twitter.com/", class: "Twitter-btn" do
        = icon('fab', 'twitter')
      = link_to "https://www.instagram.com/", class: "Line-btn" do
        = icon('fab', 'line')
    .Main-screen__contents__details
      - if current_user.id == @user.id
        .Main-screen__contents__details__credit
          .Main-screen__contents__details__credit--registration
            - if @credit_information.present?
              = link_to 'クレジットカード情報削除', delete_credits_path, class: "card-delete"
              = icon('fas', 'arrow-right')
            - else
              = link_to 'クレジットカード情報登録', new_credit_path, class: "card-regis", "data-turbolinks": false
              = icon('fas', 'arrow-right')
          .Main-screen__contents__details__account
            .Main-screen__contents__details__account--logout
              = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout-btn"
              = icon('fas', 'arrow-right')
    .Main-screen__contents__items-box
      .Main-screen__contents__items-box__head
        この出品者の商品
      .Main-screen__contents__items-box__goods
        = render 'items-for_user_main_screen'
      
= render 'layouts/exhibition'

= render 'layouts/aside'

= render 'layouts/footer'

