= render 'layouts/header'

.Main-screen
  .Main-screen__profile
    
  .Main-screen__contents  
    .Main-screen__contents__media
      = link_to "https://www.facebook.com/", class: "Facebook-btn" do
        = icon('fab', 'facebook-square')
      = link_to "https://twitter.com/", class: "Twitter-btn" do
        = icon('fab', 'twitter')
      = link_to "https://www.instagram.com/", class: "Line-btn" do
        = icon('fab', 'line')
    .Main-screen__contents__details
      .Main-screen__contents__details__credit
        .Main-screen__contents__details__credit--registration
          = link_to 'クレジットカード情報登録', "#", class: "card-regis"
          = icon('fas', 'arrow-right')
        .Main-screen__contents__details__credit--delete
          = link_to 'クレジットカード情報削除', "#", class: "card-delete"
          = icon('fas', 'arrow-right')
      .Main-screen__contents__details__account
        .Main-screen__contents__details__account--parsonal-info
          = link_to '本人情報変更', "#", class: "info-change"
          = icon('fas', 'arrow-right')
        .Main-screen__contents__details__account--logout
          = link_to 'ログアウト', "#", class: "logout-btn"
          = icon('fas', 'arrow-right')
    .Main-screen__contents__items-box
      .Main-screen__contents__items-box__head
        この出品者の商品
      .Main-screen__contents__items-box__goods
        = render 'users/items-for_user_main_screen'


    -# .Main-screen__payment-privacy__payment
      
    -# .Main-screen__payment-privacy__privacy
      
  -# .Main-screen__icon
  -#   = image_tag 'icon/member_photo_noimage_thumb.png',size: '200x200',alt: 'ロゴです'
  -# .Main-screen__evaluation-exhibition
  -#   .main-screen__evaluation-exhibition__evalustion
  -#     評価
  -#   .main-screen__evaluation-exhibition__exhibition
  -#     出品数
      
= render 'layouts/exhibition'

= render 'layouts/aside'

= render 'layouts/footer'

