.Credit-background
  .Credit-header
    = link_to root_path, class: "HeaderInner__icon" do
      = image_tag 'logo/logo.png', size:'200x50', alt: 'ロゴです'
  .card-group
    .card-group__title
      クレジットカード一覧
    .card-group__contents
      %br
      = "**** **** **** " + @default_card_information.last4
      %br
      - exp_month = @default_card_information.exp_month.to_s
      - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
      = "有効期限" + exp_month + " / " + exp_year
      = form_tag(delete_credits_path, method: :post, id: 'charge-form',  name: "inputForm") do
        %input{ type: "hidden", name: "card_id", value: "" }
        %button.btn_delate  削除する