.LoginWrapper
  %header.SignupHeader
    .SignupHeader__Logo
      = link_to root_path,class: "SignupHeader__Icon" do
        = image_tag 'logo/logo.png',size: '185x49',alt: 'ロゴです'
  
  %main.Contents
    %section.Contents__Wrapper
      %h2.Contents__Title
        Log in
      = form_with model:@user ,url: user_session_path, class: 'Contents__Form', local: true do |f|
        .Contents__Resistration.Contents__Resistration--Login
          .Contents__Form-Group
            = f.label :email, class:'Contents__Form-Label' do
              メールアドレス
            = f.text_field :email,class: 'Contents__Form-Text'
          .Contents__Form-Group.Contents__Form-Group--SetMargin
            = f.label :password, class:'Contents__Form-Label' do
              パスワード
            = f.password_field :password,class: 'Contents__Form-Text'
          

        .Contents__Bottom
          = f.submit '完了', class: 'Contents__SubmitBtn' 

  %footer.Footer 
    = link_to root_path, class: "Footer__Logo" do
      = image_tag 'logo/logo-white.png',size: '185x49',alt: 'ロゴです'
    %p.Footer__Bottom
      © FURIMA, Inc.



