%section.pickup-menu
  %h2.pickup-menu__title ピックアップカテゴリー
  .pickup-menu__info
    .list-title
      = link_to "#", class:"list-title__link" do
        %h3.list-title__link__name 新規投稿商品
    .post-list
      - @items.each do |item|
        .post-list__items
          - if item.buyer.present?
            .post-list__items__status
              .post-list__items__status__inner
                Sold
          = link_to item_path(item.id), class:"post-list__items__link" do
            %figure.post-list__items__link__picture
              = image_tag item.images.first.url
            .post-list__items__link__texts
              %h3.pict-name
                = item.name
              .pict-detail
                %ul
                  %li 
                    = "#{item.price}円"
                  %li
                    = icon('fa', 'star likeIcon')
                    0
                %p (税込)
