%section.pickup-menu
  %h2.pickup-menu__title ピックアップカテゴリー
  .pickup-menu__info
    .list-title
      = link_to "#", class:"list-title__link" do
        %h3.list-title__link__name 新規投稿商品
    .post-list
      .post-list__items
        = link_to "#", class:"post-list__items__link" do
          %figure.post-list__items__link__picture
            = image_tag 'pict/pict-reason-01.jpg'
          .post-list__items__link__texts
            %h3.pict-name 1
            .pict-detail
              %ul
                %li 1000円
                %li
                  = icon('fa', 'star likeIcon')
                  0
              %p (税込)
      .post-list__items
        = link_to "#", class:"post-list__items__link" do
          %figure.post-list__items__link__picture
            = image_tag 'pict/pict-reason-01.jpg'
          .post-list__items__link__texts
            %h3.pict-name 2
            .pict-detail
              %ul
                %li 1000円
                %li
                  = icon('fa', 'star likeIcon')
                  0
              %p (税込)
      .post-list__items
        = link_to "#", class:"post-list__items__link" do
          %figure.post-list__items__link__picture
            = image_tag 'pict/pict-reason-01.jpg'
          .post-list__items__link__texts
            %h3.pict-name 3
            .pict-detail
              %ul
                %li 1000円
                %li
                  = icon('fa', 'star likeIcon')
                  0
              %p (税込)
      .post-list__items
        = link_to "#", class:"post-list__items__link" do
          %figure.post-list__items__link__picture
            = image_tag 'pict/pict-reason-01.jpg'
          .post-list__items__link__texts
            %h3.pict-name 4
            .pict-detail
              %ul
                %li 1000円
                %li
                  = icon('fa', 'star likeIcon')
                  0
              %p (税込)