.Around
  .Around__logo
    = image_tag 'logo/logo.png', class: "image_tag1", alt: 'トップのロゴ'
  .Around__contents
    .Around__contents__string
      購入内容の確認
    .Around__contents__goods
      .Around__contents__goods__image
        = image_tag 'pict/pict-reason-03.jpg', size: '70x70', alt: '商品の仮写真'
      .Around__contents__goods__item-name
        ポロシャツ
        .Around__contents__goods__item-name__details
          %span.details-string 送料込み(税込)
          %span.details-price ￥1,000
    .Around__contents__price
      .Around__contents__price__string
        支払い金額
        .Around__contents__price__string--point
          =icon('fas', 'square')
          %span.point-string-left ポイント
          %span.point-string-right 所持ポイント：P0
      .Around__contents__price--amount
        ￥1,000
    .Around__contents__method-payment
      .Around__contents__method-payment--string
        支払い方法
      .Around__contents__method-payment--add
        =icon('far', 'plus-square')
        登録してください
    .Around__contents__delivery-address
      .Around__contents__delivery-address--string
        配送先
      .Around__contents__delivery-address--add
        =icon('far', 'plus-square')
        登録してください
    .Around__contents__buy-botton
      = form_with url: "#" do |form|
        = form.submit '購入する', class:"buy-btn"
  .Around__footer-logo
    = image_tag 'logo/logo-white.png', size: '140x70', class: "image_tag2", alt: 'フッターのロゴ'