.new
  .title 
    = link_to root_path do
      = image_tag 'logo/logo.png',size:'150x40',alt: 'ロゴです'
  = form_with model: @item, class: "new-inputs" do |f|
    .new-inputs__images
      %label 出品画像
      %span.required 必須 
      %p 最大10枚までアップロードできます。   
      #image-box
        = f.fields_for :images do |image|
          .js-file_group{"data-index" => "#{image.index}"}
            = image.file_field :url, class: 'js-file'
            %br/
            %span.js-remove 削除
      .upload_image
    .new-inputs__name
      %label 商品名
      %span.required 必須 
      .input-form
        = f.text_field :name, placeholder:  "40文字まで",class:  "smallform",autocomplete:"off"
      .instruction 入力してください  
    .new-inputs__introduction
      %label 商品の説明
      %span.required 必須 
      .input-form
        = f.text_area :introduction, placeholder:  "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）",class:  "bicform",autocomplete:"off",rows:"7"
    .new-inputs__details
      %p 商品の詳細
      .exhibitionPage__main__contents__detail__category
        .exhibitionPage__main__contents__detail__category__title
        %label カテゴリー
        %span.required 必須 
        .exhibitionPage__main__contents__detail__category__choose
          = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {prompt: '---'}, {id: 'parent_category'}
        .instruction 選択してください  
      %label ブランド
      %span.any 任意
      = f.text_field :brand, placeholder:  "例：シャネル",class:  "smallform",autocomplete:"off"
      %label 状態
      %span.required 必須 
      .select
        = f.select :condition, [["選択してください。", nil],["新品、未使用", "新品、未使用"],["未使用に近い", "未使用に近い"],["目立った傷や汚れなし","目立った傷や汚れなし"],["やや傷や汚れあり","やや傷や汚れあり"],["傷や汚れあり","傷や汚れあり"],["全体的に状態が悪い","全体的に状態が悪い"]]
      .instruction 選択してください  
    .new-inputs__delivery
      %p 配送について 
      %label 状態
      %span.required 必須 
      .select
        = f.select :postage_burden, [["選択してください。", nil],["送料込み(出品者負担)", "送料込み(出品者負担)"],["着払い(購入者負担)", "着払い(購入者負担)"]]
      .instruction 選択してください  
      %label 発送元地域
      %span.required 必須 
      .select
        = f.collection_select(:pref_id, Pref.all, :id, :name, {include_blank: "---"}, {class: "select"} ) 

      .instruction 選択してください  
      %label 発送までの日数
      %span.required 必須 
      .select
        = f.select :preparation_day, [["選択してください。", nil],["1~2日で発送", "1~2日で発送"],["2~3日で発送", "2~3日で発送"],["4~7日で発送", "4~7日で発送"]]  
      .instruction 選択してください
    .new-inputs__price
      %p 価格（¥300〜9,999,999）
      %label 販売価格
      %span.required 必須
      %span.yen ¥
      = f.text_field :price, placeholder:  "0",class:  "smallform",autocomplete:"off"
      .instruction 300以上9999999以下で入力してください
    .new-inputs__btns
      .btn-exhibtion
        = f.submit "出品する", {class:"btn-exhibtion", tabindex:"0"}
      .btn-top
        = link_to root_path do 
          もどる
    .new-inputs__warning
      %p 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
= render 'layouts/footer'