%header.CommonHeader
  .HeaderInner
    .HeaderInner__Main
      %h1.HeaderInner__Icon
        = link_to "#",class: "HeaderInner__icon" do
          = image_tag 'logo/logo.png',size:'150x40',alt: 'ロゴです'
      .HeaderInner__SearchBox
        = form_with url: '#',class: 'HeaderInner__TextBox' ,local: true do |f|
          .HeaderInner__Input
            = f.text_field :keyword, placeholder: 'キーワードから探す',class: 'HeaderInner__TextField' 
            %button{type: "submit", class:'HeaderInner__Btn'}
              = image_tag 'icon/icon-search 1.png',size: '20x20', alt: '虫眼鏡の写真', class: 'HeaderInner__Submit'
                  
    .HeaderInner__Nav
      %ul.HeaderInner__Left
        %li.HeaderInner__List
          = link_to "#",class:"HeaderInner__Left--first" do
            カテゴリー
        %li.HeaderInner__List.HeaderInner__List--MarginFix
          = link_to "#",class:"HeaderInner__Left--second" do
            ブランド
      %ul.HeaderInner__Right
        %li.HeaderInner__List
          = link_to "#",class:"HeaderInner__Right--first" do
            ログイン
        %li.HeaderInner__List.HeaderInner__List--MarginFix
          = link_to "#",class:"HeaderInner__Right--second" do
            新規会員登録
