%header.CommonHeader
  .HeaderInner
    .HeaderInner__Main
      %h1.HeaderInner__Icon
        = link_to root_path,class: "HeaderInner__icon" do
          = image_tag 'logo/logo.png',size:'150x40',alt: 'ロゴです'
      .HeaderInner__SearchBox
        = form_with url: '#',class: 'HeaderInner__TextBox' ,local: true do |f|
          .HeaderInner__Input
            = f.text_field :keyword, placeholder: 'キーワードから探す',class: 'HeaderInner__TextField' 
            %button{type: "submit", class:'HeaderInner__Btn'}
              = image_tag 'icon/icon-search 1.png',size: '20x20', alt: '虫眼鏡の写真', class: 'HeaderInner__Submit'
                  
    .HeaderInner__Nav
      %ul.HeaderInner__Left
        %li.HeaderInner__List
          = link_to "#" ,class:'HeaderInner__Default--style' do
            カテゴリーから探す    
          %ul.HeaderInner__parents
            - @parents.each do |parent|
              %li.HeaderInner__parent{value: parent.id}
                = link_to category_path(parent.id) ,class:"HeaderInner__Left--first" do
                  .HeaderInner__parent--name
                    = parent.name   
                  %ul.HeaderInner__children
                    - parent.children.each do |child|
                      %li.HeaderInner__child{value: child.id}
                        = link_to category_path(child.id) ,class:"HeaderInner__Left--first" do
                          .HeaderInner__children--name
                            = child.name   
                        %ul.HeaderInner__grandchildren
                          - child.children.each do |grandchild|
                      
                            %li.HeaderInner__grandchild{value: grandchild.id}
                              = link_to category_path(grandchild.id) ,class:"HeaderInner__Left--first" do
                                .HeaderInner__grandchildren--name
                                  = grandchild.name  
        %li.HeaderInner__List--Brand
          = link_to "#",class:"HeaderInner__Left--second" do
            ブランド
            -# %select.select{:name => "categoryId"}
            -#   %option.{"aria-selected" => "true", :label => "ブランド", :selected => "selected", :value => ""} ブランド
            -#   %option{"aria-selected" => "false", :label => "シャネル", :value => "1"} シャネル
            -#   %option{"aria-selected" => "false", :label => "アディダス", :value => "2"} アディダス
            -#   %option{"aria-selected" => "false", :label => "ナイキ", :value => "3"} ナイキ
            -#   %option{"aria-selected" => "false", :label => "プーマ", :value => "4"} プーマ
            -#   %option{"aria-selected" => "false", :label => "ルイ ビトン", :value => "5"} ルイ ビトン
      %ul.HeaderInner__Right
        - if user_signed_in?
          %li.HeaderInner__List
            = link_to   destroy_user_session_path,class:"HeaderInner__Right--first", method: :delete do
              ログアウト
          %li.HeaderInner__List.HeaderInner__List--MarginFix
            = link_to   users_path,class:"HeaderInner__Right--second" do
              = current_user.nickname + "のマイページ"
        - else
          %li.HeaderInner__List
            = link_to  new_user_session_path , class:"HeaderInner__Right--first" do
              ログイン
          %li.HeaderInner__List.HeaderInner__List--MarginFix
            = link_to new_user_registration_path, class:"HeaderInner__Right--second" do
              新規会員登録
      