//ここからヘッダー

%header.CommonHeader
  .HeaderInner
    .HeaderInner__Main
      %h1.HeaderInner__Icon
        = link_to "#",class: "HeaderInner__icon" do
          = image_tag 'logo/logo.png',size:'150x40',alt: 'ロゴです'
      .HeaderInner__SearchBox
        = form_with url: '#',class: 'HeaderInner__TextBox' ,local: true do |f|
          .HeaderInner__Input
            = f.text_field :keyword, placeholder: 'キーワードから探す',class: 'HeaderInner__TextField' 
            %button{type: "submit", class:'HeaderInner__Btn'}
              = image_tag 'icon/icon-search 1.png',size: '20x20', alt: '虫眼鏡の写真', class: 'HeaderInner__Submit'
                  
    .HeaderInner__Nav
      %ul.HeaderInner__Left
        %li.HeaderInner__List
          = link_to "#",class:"HeaderInner__Left--first" do
            %select.select{:name => "categoryId"}
              %option{"aria-selected" => "true", :label => "カテゴリー", :selected => "selected", :value => ""} カテゴリー
              %option{"aria-selected" => "false", :label => "レディース", :value => "1"} レディース
              %option{"aria-selected" => "false", :label => "メンズ", :value => "2"} メンズ
              %option{"aria-selected" => "false", :label => "ベビー・キッズ", :value => "3"} ベビー・キッズ
              %option{"aria-selected" => "false", :label => "インテリア・住まい・小物", :value => "4"} インテリア・住まい・小物
              %option{"aria-selected" => "false", :label => "本・音楽・ゲーム", :value => "5"} 本・音楽・ゲーム
              %option{"aria-selected" => "false", :label => "おもちゃ・ホビー・グッズ", :value => "1328"} おもちゃ・ホビー・グッズ
              %option{"aria-selected" => "false", :label => "コスメ・香水・美容", :value => "6"} コスメ・香水・美容
              %option{"aria-selected" => "false", :label => "家電・スマホ・カメラ", :value => "7"} 家電・スマホ・カメラ
              %option{"aria-selected" => "false", :label => "スポーツ・レジャー", :value => "8"} スポーツ・レジャー
              %option{"aria-selected" => "false", :label => "ハンドメイド", :value => "9"} ハンドメイド
              %option{"aria-selected" => "false", :label => "チケット", :value => "1027"} チケット
              %option{"aria-selected" => "false", :label => "自動車・オートバイ", :value => "1318"} 自動車・オートバイ
              %option{"aria-selected" => "false", :label => "その他", :value => "10"} その他
        %li.HeaderInner__List.HeaderInner__List--MarginFix
          = link_to "#",class:"HeaderInner__Left--second" do
            %select.select{:name => "categoryId"}
              %option{"aria-selected" => "true", :label => "ブランド", :selected => "selected", :value => ""} ブランド
              %option{"aria-selected" => "false", :label => "シャネル", :value => "1"} シャネル
              %option{"aria-selected" => "false", :label => "アディダス", :value => "2"} アディダス
              %option{"aria-selected" => "false", :label => "ナイキ", :value => "3"} ナイキ
              %option{"aria-selected" => "false", :label => "プーマ", :value => "4"} プーマ
              %option{"aria-selected" => "false", :label => "ルイ ビトン", :value => "5"} ルイ ビトン
      %ul.HeaderInner__Right
        - if user_signed_in?
          %li.HeaderInner__List
            = link_to   destroy_user_session_path,class:"HeaderInner__Right--first", method: :delete do
              ログアウト
          %li.HeaderInner__List.HeaderInner__List--MarginFix
            = link_to   user_path(current_user),class:"HeaderInner__Right--second" do
              = current_user.nickname + "のマイページ"
        - else
          %li.HeaderInner__List
            = link_to  new_user_session_path , class:"HeaderInner__Right--first" do
              ログイン
          %li.HeaderInner__List.HeaderInner__List--MarginFix
            = link_to new_user_registration_path, class:"HeaderInner__Right--second" do
              新規会員登録
      
